{% extends "layout/master.html" %}
{% import "helpers/form.html" as helper_form %}


{% block body %}
    <form action="{{ request.path }}" method="post" class="form-horizontal">
        <fieldset>
            <legend>{{ _("Login") | title }}</legend>
            {{ helper_form.render_field(form.login) }}
            {{ helper_form.render_field(form.password) }}
        </fieldset>

        <div class="form-actions">
            {{ form.csrf_token() }}
            {{ form.submit(class="btn btn-large btn-primary") }}
            <a href="{{ url_for('account.signup') }}" class="btn btn-large">{{ _('Sign Up') }}</a>
        </div>
    </form>
{% endblock %}