{% extends "layout/master.html" %}
{% import "helpers/form.html" as helper_form %}


{% block body %}
    <form action="{{ request.path }}" method="post" class="form-horizontal">
        <fieldset>
            <legend>{{ _("Create a new account") | title }}</legend>
            {{ helper_form.render_field(form.id) }}
            {{ helper_form.render_field(form.email) }}
            {{ helper_form.render_field(form.password) }}
            {{ helper_form.render_radios(form.gender) }}
            {{ helper_form.render_field(form.nickname) }}
        </fieldset>

        <div class="form-actions">
            {{ form.csrf_token() }}
            {{ form.submit(class="btn btn-large btn-primary") }}
            <input type="reset" class="btn btn-large" value="{{ _('Reset') }}" />
        </div>
    </form>
{% endblock %}