{% extends "layout/master.html" %}
{% import "helpers/form.html" as helper_form %}


{%- block scripts %}
        <script type="text/javascript">
            $(function() {
                ledge.useTopicLabel({
                    'form': "#add-topic-form",
                    'select': "select.related-topics",
                    'container': "#related-container",
                    'inputbox': "#add-related-text",
                    'button': "#add-related-btn"
                });
            });
        </script>
{%- endblock %}


{%- block body %}
        <form action="{{ request.path }}" method="post" class="form-horizontal" id="add-topic-form">
            <fieldset>
                <legend>
                    {% if topic is defined %}
                        {{- _("Edit the topic %(name)s", name=topic.name) -}}
                    {% else %}
                        {{- _("Create a new topic") | title -}}
                    {% endif %}
                </legend>
                {{ helper_form.render_field(form.name, class="input-xlarge") }}
                {{ helper_form.render_field(form.description, class="input-xlarge", rows=5) }}
                {%- call helper_form.render_field(form.related_topics) %}
                    {{ form.related_topics(class="related-topics") }}
                    <input type="text" id="add-related-text" class="related-autocomplete input-xlarge" />
                    <input type="button" value="{{ _('add related topic') | title }}" id="add-related-btn" class="btn" />
                    <div id="related-container"></div>
                {%- endcall %}
            </fieldset>

            <div class="form-actions">
                {{ form.csrf_token() }}
                {{ form.submit(class="btn btn-large btn-primary") }}
                {%- if topic is defined %}
                <a href="{{ url_for('note.topic', id=topic.id) }}" class="btn btn-large">{{ _("Back") }}</a>
                {%- endif %}
            </div>
        </form>
{%- endblock %}